<!DOCTYPE html>
<html lang="en">
<head>
        <title>Berras Burgare</title>
</head>
    <body>
        <main>
            <h1>Välkommen till Berras Burgare!</h1>
            <section>
            <h2>Välj burgare</h2>
                <div style="width:100%; overflow: hidden">
                    <p>Det är här du väljer vilken av Berras burgare du vill ha</p>
                    <div style="width:250px; float:left">
                        <h3>La Foledoledoledoff</h3>
                        <img src="/img/umami.jpg" width="250" height="200">
                        <ul>
                            <li>870 kcal</li>
                            <li>Picklad rödlök</li>
                            <li>Krispig bacon</li>
                            <li>Brieost och Pecorino </li>
                        </ul>
                    </div>
                    <div style="width:250px; float: left">
                    <h3>Sneskus</h3>
                    <img src="/img/snuskis.jpg" width="250" height="200">
                    <ul>
                        <li>960 kcal</li>
                        <li>Vegetarisk </li>
                        <li>Fylld med krispiga nachos med krämig ostsmak </li>
                    </ul>
                    </div>
                    <div style="width:250px; float: left">
                    <h3>Le Monde</h3>
                    <img src="/img/dag.jpg" width="250" height="200">
                    <ul>
                        <li>740 kcal</li>
                        <li>Berras hemgjorda dressing</li>
                        <li>Saftig biff med härlig stekyta</li>
                        <li>Cheddarost </li>

                    </ul>
                    </div>
                </div>
            </section>
            <section>
            <h2>Kundinformation</h2>
                <p> Fyll i dina personuppgifter för leverans</p>
                <h3> Leveransinformation:</h3>

                <p>
                    <label for="fullname">Namn</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="För- och Efternamn" />
                </p>

                <p>
                    <label for="E-mail">E-mail</label><br>
                    <input type="text" id="E-mail" name="fn" required="required" placeholder="E-postadresss" />
                </p>

                <p>
                    <label for="Adress">Adress</label><br>
                    <input type="text" id="Adress" name="fn" required="required" placeholder="Adress" />
                </p>

                <p>
                    <label for="Postnummer">Postnummer</label><br>
                    <input type="number" id="Postnummer" name="fn" required="required" placeholder="Postnummer" />
                </p>

                <p>
                    <label for="recipient">Betalningsmedel</label><br />
                    <select id="recipient" name="rcp">
                        <option>Visa</option>
                        <option>Mastercard</option>
                        <option>Swish</option>
                        <option>PayPal</option>
                        <option>Bitcoin</option>
                    </select>
                </p>
                <p>

                    Kön <br>
                    <input type="radio" id="man" name="fn" required="required" />
                    <label for="man">Man</label><br>


                    <input type="radio" id="Kvinna" name="fn" required="required"/>
                    <label for="Kvinna">Kvinna</label><br>


                    <input type="radio" id="Annat" name="fn" required="required"/>
                    <label for="Annat">Annat</label><br>

                    <input type="radio" id="Vill ej uppge" name="fn" required="required"/>
                    <label for="Vill ej uppge">Vill ej uppge</label><br>

                </p>

            </section>
        </main>

        <button type="submit"><img src="/img/shoppingcart.png" width="20" heigth="20"/> Beställ</button>


        <footer>
        <p>2020 Filiduttföretaget AB</p>
    </footer>
    </body>
</html>
