<!DOCTYPE html>
<html lang="en">
<head>
        <title>Berras Burgare</title>
</head>
    <body>
        <main>
            <h1>Välkommen till Berras Burgare!</h1>
            <section>
            <h2>Välj burgare</h2>
                <div style="width:100%; overflow: hidden">
                    <p>Det är här du väljer vilken av Berras burgare du vill ha</p>
                    <div style="width:250px; float:left">
                        <h3>La Foledoledoledoff</h3>
                        <img src="/img/umami.jpg" width="250" height="200">
                        <ul>
                            <li>870 kcal</li>
                            <li>Picklad rödlök</li>
                            <li>Krispig bacon</li>
                            <li>Brieost och Pecorino </li>
                        </ul>
                    </div>
                    <div style="width:250px; float: left">
                    <h3>Snuskis innan 17.00</h3>
                    <img src="/img/snuskis.jpg" width="250" height="200">
                    <ul>
                        <li>960 kcal</li>
                        <li>Vegetarisk </li>
                        <li>Fylld med krispiga nachos med krämig ostsmak </li>
                    </ul>
                    </div>
                    <div style="width:250px; float: left">
                    <h3>Dag Hammarskjöld</h3>
                    <img src="/img/dag.jpg" width="250" height="200">
                    <ul>
                        <li>740 kcal</li>
                        <li>Berras hemgjorda dressing</li>
                        <li>Saftig biff med härlig stekyta</li>
                        <li>Cheddarost </li>

                    </ul>
                    </div>
                </div>
            </section>
            <section>
            <h2>Kundinformation</h2>
                <p> Fyll i dina personuppgifter för leverans</p>
                <h3> Leveransinformation:</h3>

                <p>
                    <label for="fullname">Namn</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="För- och Efternamn" />
                </p>

                <p>
                    <label for="E-mail">E-mail</label><br>
                    <input type="text" id="E-mail" name="fn" required="required" placeholder="E-postadresss" />
                </p>

                <p>
                    <label for="Adress">Adress</label><br>
                    <input type="text" id="Adress" name="fn" required="required" placeholder="Adress" />
                </p>

                <p>
                    <label for="Postnummer">Postnummer</label><br>
                    <input type="text" id="Postnummer" name="fn" required="required" placeholder="Postnummer" />
                </p>

            </section>
        </main>
            <a href="/map" target="_blank">Open map in new window</a>.
    <footer>
        <p>2020 Filiduttföretaget AB</p>
    </footer>
    </body>
</html>
